<div class="container">
    <div class="header">
        <div class="header-index-name align-end">Moodboard</div>
        <div class="header-right hidden-small">
            <div class="text">Looking for a freelancer?</div>
            <button class="btn align-up hire">Hire on Crew</button>
        </div>
    </div>
    <div class="middle">
        <div>
            <h2>Share your inspirational images with a link</h2>
            <h3 class="middle-small">No account needed</h3>
        </div>
        <div class="middle-text">
            <div>Start with a <a href="#">blank moodboard</a> or choose one of the starter moodboards below:</div>
        </div>
    </div>
    <div>
       <div class="row">
            <div class="col-medium-4 col-small-6 flex-column">
                <img src="{{img}}" class="responsive-img index-img">
                <div>
                    Blank project
                </div>
            </div>
            {% for board in result %}
              <div class="col-medium-4 col-small-6">
              <a data-id = "{{board.id}}" class="board-button">
                  <img src="{{board.show_pic.src}}" class="responsive-img index-img">
                  </a>
                  <div style="text-align:center">
                      {{board.title}}
                  </div>
              </div>
            {% else %}
              <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
       </div>
    </div>
    <div>
        <div class="footer">
            <div class="hidden-small"><span>Crew</span></div>
            <div><h5>you have got ideas we have got talent. lets talk</h5></div>
            <div><button class="btn hire">Hire on Crew</button></div>
        </div>
    </div>
</div>