<div class="container">
    <div class="row view-header">
        <div class="header-index-name col-medium-9 col-small-12"><a href="" style="color: inherit;text-decoration: none" id="home-page">Moodboard</a></div>
        <div class="col-medium-3 col-small-12 view-header-btn view-header">
            <button class="btn edit" id="create-board-submit">Create Board</button>
        </div>
    </div>
    <p id='error'></p>
    <form>
        <input class="new-textarea" placeholder="name" name="name" id="createBoard"/>
    </form>
    <div class="view-middle-text">
        Note: all names most be alphabets without spaces
    </div>
</div>